<div class="main-container">
  <h1 class="welcome">Welcome<span class="user" *ngIf="userExist()">, {{user}}</span>!</h1>

  <div class="text-container">
    <p class="text-one">
      creatEvent is here to help you organize, manage and follow your events. You
      can use some of our template events, to organize Football games, baby
      parties, birthdays and more. Or you can create your own Event and customize
      it on your own liking.
    </p>
  
    <p class="text-two">
      Looking for some activites to do? Look around for some open events around
      the area and fidn friends with similar hobbies.
    </p>
  </div>
 
</div>
