* {
  background-color: rgb(33, 17, 51);
  color: rgb(250, 246, 241);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.contact-me {
  display: flex;
  justify-content: space-between;
}

.contact-me div {
  padding-left: 10px;
}

.copyright {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.contact-me {
  padding-right: 10px;
}