<form #registerForm="ngForm" (ngSubmit)="formSubmitHandler(registerForm)">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      name="email"
      ngModel
      required
      email
      #emailInput="ngModel"
    />
  </div>

  <div *ngIf="emailInput.touched">
    <div *ngIf="emailInput.errors?.['required']">Email is required</div>
    <div *ngIf="emailInput.errors?.['email']">Email is not VALID</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      required
      #passwordInput="ngModel"
    />
  </div>

  <div *ngIf="passwordInput.touched">
    <div *ngIf="passwordInput.errors?.['required']">Password is required</div>
  </div>
  <button>Register</button>
</form>

<div *ngIf="showError">
  <div>Some of the following errors occured:</div>
  <div>* Invalid E-mail format. Correct format: *****@***.***</div>
  <div>* There is already an existing account for this E-mail</div>
  <div>* The password's lenght is less than 6 symbols</div>
</div>
