* {
  background-color: rgb(33, 17, 51);
  color: rgb(250, 246, 241);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.logo:hover {
  cursor: pointer;
}

.creat {
  font-size: 20px;
  color: rgb(40, 141, 40);
}

.event {
  font-size: 26px;
  color: rgb(243, 57, 57)
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu div {
  padding-left: 10px;
  font-size: 20px;
}

.nav-btn:hover {
  color: rgb(40, 141, 40);
  cursor: pointer;
}