.event-selection-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
  /* margin-right: auto;
  margin-left: auto; */
  margin: auto;
 }
 
 .question {
   margin: 25px 0 55px 0;
   text-align: center;
   font-size: 26px;
 }